
<nav class="navbar fixed-top navbar-expand-lg navbar-light topnav px-4">
<div class="container">
  <a class="navbar-brand" href="{{ site.baseurl }}/index.html"><img style="height:40px;" src="{{ site.baseurl }}/assets/images/logos/kb_logo_wide.png" alt="Kendrick Brothers Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.navigation %}
      <li class="nav-item" {% if page.url == item.link %} class="active" {% endif %}>
        <a class="nav-link" href="{{ site.baseurl }}{{ item.link }}">{{ item.name | upcase }}</a>
      </li>
      {% endfor %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>
</nav>
