/* Basic body styling */

/* Typography */
body {
  background-color: #F2F2F2 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 700;
}

h2 h3 h4 h5 {
  font-family: 'Hind Madurai', sans-serif !important;
}

p {
  font-family: 'Hind Madurai', sans-serif !important;
  font-weight: 300 !important;
}

.master {
  padding-top: 64px;
  background-color: #F2F2F2;
  min-height: 100vh;
}

/* Top Nav */
.topnav {
  background-color: #F2F2F2;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Projects */
.project-feature {
  background-image: url($baseurl + $film-feature-bkgd);
  background-size: cover;
  min-height: 80vh;
  background-repeat: no-repeat;
  background-position: 70% 0%;

}

.project-feature-scrim {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #f2f2f2, rgba(0,0,0,0) 50%);
  padding-top: 100px;
}

.project-feature-text {
  color: #011826;
  /* background-color: rgba( 86, 87, 89, 0.3); */
}

.all-icon {
  height: 50px;
  width:auto;
}

.film-cards {
  background-color: #F2F2F2 !important;
  border-style: none !important;
}

.icon {
  height: 40px;
  width: auto;
  display: block;
}

.card-shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.other-book-img {
  height: 50px;
  width: auto;
}

/* Posts */
.post-feature {
  background-image: url($baseurl + $post-feature-bkgd);
  background-size: cover;
  min-height: 80vh;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.post-feature-title {
  bottom: 15px;
  left: 15px;
}

a.post-card {
  color: #000000;
  text-decoration: none;
}

.banner-block {
  position: absolute;
  top: 50px;
  left: 50px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* Bottom Nav */
.bottom_nav {
  color: #03588C;
  font-size: 10pt;
  text-align: center;
}

/* home page styling */
.indextron {
  background-image: url($baseurl + "/assets/images/kendrick_brothers_on_mission.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mission {
  font-family: "trajan pro", serif;
  /* max-width: 300px;
  min-height: 200px;
  display: block; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
.mission h1 h2 h3 h4 h5 h6 {
  margin: 0px;
  text-align: center;
}

.indexButton {
  background-color: #055BA6;
  border-color: #A6A6A6;
  border-width: 1px;
  border-radius: 4px;
  color: #F2F2F2;
  text-align: center;
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* Blog Article Styling */
.article-box {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.social_box {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.social_icon {
  max-height: 30px;
  margin: 10px;
  float: left;
}

/* Post Styling */
.featureContainer {
  text-decoration: none;
  text-align: center;
}

.featureContainer p {
  text-align: justify;
}

.featureBkgd {
  background-color: #F2F2F2;
}

.featureTitle {
  font-family: "Trajan Pro", serif;
  font-weight: bolder;
  line-height: 1;
}

/* Horizontal Scrolls */
.scrolling-wrapper {
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  .scrolling-card {
    flex: 0 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
}

.film-button {
  position: relative;
  font-size: 5em;
  color: rgba(166, 166, 166, .75);
}

.film-button i {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.buy-logos {
  width: 120px;
  height: auto;
}

/* Values */
.valueBox {
  background-color: rgba(5,91,166,0.6);
}

.value-card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.value-top {
  background-image: linear-gradient(to bottom, rgb(2,56,89), rgb(255,255,255));
  text-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

/* Team Members */
.team-card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
