---
layout: default
---
<!-- Breadcrumbs or previous/next links -->
{% assign premium_banner = page.premium | where_exp: "item", "item.image != nil" %}
{% if premium_banner %}
  {% for item in premium_banner %}
  <section class="book-premium">
    <div class="row min-vh-100 mb-3 bg-white">
      <div>
        <a href="{{ site.baseurl }}{{ item.premium_url }}">
          <img class="d-block w-100 mx-0" src="{{ site.baseurl }}{{ item.image }}">
        </a>
      </div>
    </div>
  </section>
  {% endfor %}
{% endif %}

<div class="container">
  {% if page.trailer %}
  <section class="book-trailer">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="{{ page.trailer }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>
  {% endif %}

  <section class="book-info pb-3 mb-3">
    <div class="row">
      <div class="col-12 px-3">
        <h1 class="text-center mt-5">{{ page.title }}</h1>
      </div>
    </div>
    <div class="row book-details">
      <div class="col-12 col-md-6 col-lg-3">
        <img class="d-block d-md-none w-50 mx-auto" src="{{ site.baseurl }}{{ page.coverImage }}">
        <img class="d-none d-md-block w-75 mx-auto" src="{{ site.baseurl }}{{ page.coverImage }}">

      </div>
      <div class="col-12 col-md-6 col-lg-9">
        <p>{{ content }}<p>
        {% if page.buyLinks %}
        <div class="row">
          <div class="col-12 my-3">
            <h5 class="text-center font-weight-bold"><i class="bi bi-cart"></i> Where to Buy<sup>*</sup></h5>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-around flex-wrap">
          {% assign retailers = page.buyLinks | where_exp: "item", "item.buyURL != nil" %}
          {% for retailer in retailers %}
          <div class="mb-3">
            <a href="{{ retailer.buyURL }}">
              <h5 class="text-center">{{ retailer.name }}</h5>
            </a>
          </div>
          {% endfor %}
        </div>
        <div class="row px-5 mt-auto">
          <p class="text-center mx-auto"><small><sup>*</sup>We may earn a small commission when you make a purchase through the links above. There is no additional cost to you</small></p>
        </div>
        {% else %}
        {% endif %}
      </div>
    </div>
  </section>
</div>


<!-- Add related projects -->
<section class="related-projects">
{% assign all_projects = site.books | concat: site.studies %}
  {% assign related_projects = all_projects | where_exp: "item", "item.family == page.family" %}
  {% unless related_projects == empty %}
  <div class="row pt-5 px-0 bg-white">
    <div class="col-12">
      <h4 class="text-center">The {{ page.family }} Family of Projects</h4>
    </div>
  </div>
<div class="row py-3 mb-3 px-lg-5 justify-content-center bg-white">

  {% for item in related_projects %}
        <div class="col-6 col-sm-4 col-lg-2 pt-3 text-center">
          <a class="text-dark" href="{{ site.baseurl }}{{ item.url }}" alt="{{ item.title }} detail link">
            <div class="card border-0">
              <img class="img-fluid w-75 px-3 mx-auto" src="{{ site.baseurl }}{{ item.coverImage }}">
              <div class="card-body">
                <p class="card-title">{{ item.title }}</p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
  {% endunless %}
</div>
</section>


<section class="container">
  <div class="row mx-3 pt-3">
    <div class="col-12">
      <h3 class="text-center">Other Books</h3>
    </div>
  </div>
  {% assign sortedBooks = site.books | where: "type", "anchor" | sort: 'year' | reverse %}
  {% for item in sortedBooks %}
    {% if item.title != page.title %}
            <a class="text-dark" href="{{ site.baseurl }}{{ item.url }}">
      <div class="row m-3">

        <div class="col-3 col-lg-2 d-flex align-items-center">
          <img class="img-fluid" src="{{ site.baseurl }}{{ item.coverImage }}">
        </div>
        <div class="col-9 col-lg-10 d-flex align-items-center">
          <div>
            <h5 class="d-none">{{ item.title }}</h5>
            <p class="d-lg-none">{{ item.excerpt | strip_html | truncatewords:10 }}</p>
            <p class="d-none d-lg-block">{{ item.excerpt | strip_html | truncatewords:30 }}</p>
          </div>
        </div>

      </div>
      </a>
      <hr class="m-3">
    {% endif %}
  {% endfor %}
</section>
