---
layout: default
---
<!-- Breadcrumbs or previous/next links -->
<div class="row">
  <div class="col text-left">
    {% if page.next %}
      <a class="nav-link" href="{{ page.next.url }}">
        <i class="bi bi-arrow-left"></i> {{ page.next.title }}
      </a>
    {% endif %}
  </div>
  <div class="col text-right">
    {% if page.previous %}
      <a class="nav-link" href="{{ page.previous.url }}">
        {{ page.previous.title }} <i class="bi bi-arrow-right"></i>
      </a>
    {% endif %}
  </div>
</div>

<!-- Premium Banner -->
{% assign premium_banner = page.premium | where_exp: "item", "item.image != nil" %}
{% for item in premium_banner %}
<div>
  <img class="d-block w-100 mx-3" src="{{ item.image }}">
</div>
{% endfor %}
  <div>
    <img class="d-block w-100" src="{{ page.premium.image }}">
  </div>



<!-- Film Details -->
<div class="row min-vh-100 mx-3 mb-3 bg-white">
  {% if page.trailer %}
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{{ page.trailer }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  {% endif %}
  <div class="px-3">
    <h1 class="text-center">{{ page.title }}</h1>
    <p class="text-muted text-center"><i>Released on {{ page.year | date_to_string: "ordinal", "US" }}</i></p>
    {{ content | markdownify }}
  </div>
  {% if page.movieSite %}
  <div class="px-3">
    <p class="bold">
      For more information, go to
      <a href="{{ page.movieSite }}" alt="Official {{ page.name }} website">
        {{ page.movieSite | remove:'http://www.' | split:'/' | first }}
      </a>
    </p>
  </div>
  {% endif %}
  {% if page.relatedSite %}
  <div class="px-3">
    <p class="bold">
      For resources related to {{ page.name }}, go to
        <a href="{{ page.relatedSite }}" alt="{{ page.relatedSite | remove: 'http://' | spliit:'/' | first }}">
          {{ page.relatedSite | remove:'http://www.' | split:'/' | first }}
        </a>
    </p>
  </div>
  {% endif %}
</div>

<!-- Purchase and Streaming Links -->
<div class="row mx-3 py-3">
  <!-- Purchase Links Column  -->
  {% assign retailers = page.buyLinks | where_exp: "item", "item.buyURL != nil" %}
  {% if retailers %}
  <div class="col-sm mb-3 mr-1 py-3 bg-white">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h5>Purchase from These Retailers</h5>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row justify-content-around">
      {% for retailer in retailers %}
      <div class="col-6 col-sm-6 col-lg-4 my-3">
        {% assign linked_logos = site.data.logos | where: "name", retailer.name %}
        {% for linked_logo in linked_logos %}
          <a href="{{ retailer.buyURL }}">
            <img class="img-fluid btn btn-light" src="{{ linked_logo.logoURL }}" alt="{{ linked_logo.name }}">
          </a>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Stream Link Column -->
  {% assign streamers = page.streamLinks | where_exp: "item", "item.streamURL != nil" %}
  {% if streamers %}
  <div class="col-sm mb-3 ml-1 py-3 bg-white">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h5>Stream Today</h5>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row justify-content-around">
      {% for streamer in streamers %}
        <div class="col-6 col-sm-6 col-lg-4 my-3">
          {% assign streamer_logos = site.data.logos | where: "name", streamer.name %}
          {% for streamer_logo in streamer_logos %}
            <a href="{{ streamer.streamURL }}">
              <img class="img-fluid btn btn-light" src="{{ streamer_logo.logoURL }}" alt="{{ streamer_logo.name }}">
            </a>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Add related projects -->
{% assign all_projects = site.books | concat: site.studies %}
  {% assign related_projects = all_projects | where_exp: "item", "item.family == page.family" %}
  {% unless related_projects == empty %}
  <div class="row mx-3 pt-3 px-3 bg-white">
    <div class="col-12">
      <h4 class="text-center">Related Projects</h4>
    </div>
  </div>
<div class="row mx-3 p-3 mb-5 bg-white">
  {% endunless %}
  {% for item in related_projects %}
        <div class="col-6 col-sm-4 col-lg-2 pt-3 text-center">
          <a href="{{ item.url }}" alt="{{ item.title }} detail link">
            <div>
              <img class="w-75 mb-2" alt="{{ item.title }} cover image" src="{{ item.coverImage }}">
              <div>
                <p class="text-center font-weight-bold">{{ item.title }}</p>
              </div>
            </div>
          </a>
        </div>
      </a>
  {% endfor %}
</div>
