<!doctype html>
<html lang-"en">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header class="fixed-top d-flex align-items-center topnav">
    {% include navigation.html %}
    </header>
    <main class="container-fluid px-0 master">

    {{ content }}

    </main>
    <footer>
    {% include bottomNav.html %}
    </footer>
    {% include scripts.html %}

  </body>

</html>
