---
layout: default
---
<section class="container post-content">
  <div class="row py-3">
    <div class="col-12">
      <h1 class="display-1 text-center">{{ page.title | upcase }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img class="img-fluid" src="{{ site.baseurl }}{{ page.featureImage }}">
      <!-- {% if page.featureCaption %}
        <p class="text-muted text-center font-italic mx-0 px-3 mb-0">{{ page.featureCaption }}</p>
      {% endif %} -->
    </div>
  </div>
  <div class="row mx-0 pt-3">
    <div class="col-12">
      <p class="text-muted text-center"><small>{{ page.date | date_to_string }} - {{page.author}}</small></p>
    </div>
  </div>
  <div class="row px-3 mb-3 mx-0">
    {{ content }}
  </div>
</section>

<!-- Related content goes here. Styled as thumbnail, Title, and 60 character excerpt, separated by lines -->
{% assign maxRelated = 5 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}

<div class="row mx-0 pt-3 px-3 bg-white">
  <div class="col-12">
    <h4>Related Posts</h4>
  </div>
<div class="row mb-5">
  <div class="card-group">
	  {% for post in site.posts %}
    	{% assign sameTagCount = 0 %}
      {% assign commonTags = '' %}
      {% for tag in post.tags %}
        {% if post.url != page.url %}
          {% if page.tags contains tag %}
            {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% endif %}
        {% endif %}
		  {% endfor %}
      {% if sameTagCount >= minCommonTags %}
        <div class="card mx-3 px-3 pt-3 pb-0 article-box">
          <img src="{{ site.baseurl }}{{ post.featureImage }}" class="card-img-top" alt="{{ post.imageAlt }}">
          <div class="card-body">
            <a href="{{ site.baseurl }}{{ post.url }}"><h5 class="card-title">{{ post.title }}</h5></a>
            <p class="card-text">{{ post.brief }}</p>
          </div>
        </div>
        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
          {% break %}
        {% endif %}
		  {% endif %}
	  {% endfor %}
  </div>
</div>
</div>
